{
    "main": "./bin/phpcca",
    "compression": "GZ",
    "output": "phpcca.phar",
    "force-autodiscovery": true,
    "files": [
        "config.yml",
        "composer.json",
        "readme.md",
        "LICENSE"
    ]
}
